body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  background-color: #9FBB73;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
}

.container1 {
  background-color: #F1EB90;
}

.container {
  display: flex;
  justify-content: space-between;
}

.delete,
.update {
  text-decoration: none;
  padding: 8px 12px;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.delete {
  background-color: #dc3545;
}

.update {
  background-color: #17a2b8;
}

form {
  margin-top: 20px;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  width: 70%;
  box-sizing: border-box;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#toggleButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#toggleButton:hover {
  background-color: #45a049;
}

/* Styles for task title and content */
td:nth-child(2) {
  font-size: 16px;
  font-weight: bold;
  color: #333; /* Darken the text color */
}

td:nth-child(3) {
  font-size: 14px;
  color: #555; /* Slightly darker text color */
  line-height: 1.4; /* Improve readability with increased line height */
}

#title{
  margin-right:10px;
}


