






<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
<ul>
<li class="active">
<a href="index.html"><img src="assets/img/icons/dashboard.svg" alt="img"><span> Dashboard</span> </a>
</li>


 <li class="submenu">
<a href="javascript:void(0);"><img src="assets/img/icons/product.svg" alt="img"><span> Product</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="productlist.html">Product List</a></li>
<li><a href="addproduct1.html">Add Product</a></li>
<li><a href="categorylist.html">Category List</a></li>
<li><a href="addcategory.html">Add Category</a></li>
<li><a href="subcategorylist.html">Sub Category List</a></li>
<li><a href="subaddcategory.html">Add Sub Category</a></li>

<li><a href="importproduct.html">Import Products</a></li>
<li><a href="barcode.html">Print Barcode</a></li>
</ul>
</li>  

<li class="submenu">
<a href="javascript:void(0);"><img src="assets/img/icons/sales1.svg" alt="img"><span> Sales</span> <span class="menu-arrow"></span></a>
<ul>

<li><a href="createsalesreturn1.html">Create sales</a></li>
<li><a href="salesreturnlists.html">Sales Invoices</a></li>
<li><a href="temporarysales.html">Temporary Sales </a></li>
<li><a href="paymentinsales.html">Payment In </a></li>
<li><a href="creditnotesale.html">Credit Note</a></li>



</ul>
</li>
<li class="submenu">
<a href="javascript:void(0);"><img src="assets/img/icons/purchase1.svg" alt="img"><span> Purchase</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="addpurchase.html">Purchase Order</a></li>
<li><a href="purchasereturn.html">Purchase Return</a></li>
<li><a href="purchaselist.html">Purchase List</a></li>
<li><a href="paymentoutsale.html">Payment Out</a></li>
<li><a href="warehousepurchase.html">Warehouse Purchase</a></li>
<li><a href="vendorpurchase.html">vendor Purchase</a></li>
</ul>
</li>
<li class="submenu">
<a href="javascript:void(0);"><img src="assets/img/icons/time.svg" alt="img"><span> Report</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="purchaseorderreport.html">Purchase order report</a></li>
<li><a href="inventoryreport.html">Inventory Report</a></li>
<li><a href="salesreport.html">Sales Report</a></li>
<li><a href="invoicereport.html">Invoice Report</a></li>
<li><a href="purchasereport.html">Purchase Report</a></li>
<li><a href="supplierreport.html">Supplier Report</a></li>
<li><a href="customerreport.html">Customer Report</a></li>
</ul>
</li>
<li class="submenu">
<a href="javascript:void(0);"><img src="assets/img/icons/expense1.svg" alt="img"><span> Expense</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="expenselist.html">Expense List</a></li>
<li><a href="createxpense.html">Add Expense</a></li>
<li><a href="expensecategory.html">Expense Category</a></li>
<li><a href="addexpensecateogry.html">Add Category</a></li>

</ul>
</li>


<li class="submenu">
<a href="javascript:void(0);"><img src="assets/img/icons/users1.svg" alt="img"><span> Party</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="addcustomer.html">Add Customer </a></li>

<li><a href="customerlist.html">Customer List</a></li>
<li><a href="addsupplier.html">Add Supplier </a></li>
<li><a href="supplierlist.html">Supplier List</a></li>
<!-- <li><a href="adduser.html">Add warehouse</a></li>

<li><a href="userlist.html">warehouse list</a></li> -->
<li><a href="addstore.html">Add Warehouse</a></li>

<li><a href="storelist.html">warehouse List</a></li>
</ul>
</li> 

<li class="submenu">
<a href="javascript:void(0);"><i data-feather="bar-chart-2"></i> <span> Business </span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="addbusiness.html">New Business</a></li>

 <li class="submenu">
 <a href="javascript:void(0);">User Management<span class="submenu-arrow"></span></a>
      <ul>
        <li><a href="adduser.html">Add User</a></li>
        <li><a href="edituser.html">Edit User</a></li>
      </ul>
    </li>

 <li class="submenu">
 <a href="javascript:void(0);"> <span> Business Report</span><span class="submenu-arrow"></span></a>
      <ul>
        <li><a href="binventoryreport.html">Inventory report</a></li>
        <li><a href="bsalesreport.html">Sales report</a></li>
        <li><a href="bpurchasereport.html">Purchase report</a></li>
        <li><a href="bsupplierreport.html">Supplier report</a></li>
        <li><a href="bcustomerreport.html">customer report</a></li>
        <li><a href="binvoicereport.html">Invoice report</a></li>





      </ul>
    </li>


</ul>
</li>


<li class="submenu">
<a href="javascript:void(0);"><img src="assets/img/icons/users1.svg" alt="img"><span> Users</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="newuser.html">New User </a></li>
<li><a href="userlists.html">Users List</a></li>
</ul>
</li>
<li class="submenu">
<a href="javascript:void(0);"><img src="assets/img/icons/settings.svg" alt="img"><span> Settings</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="generalsettings.html">General Settings</a></li>
<li><a href="emailsettings.html">Email Settings</a></li>
 <li><a href="paymentsettings.html">Payment Settings</a></li>
<li><a href="currencysettings.html">Currency Settings</a></li>
<li><a href="grouppermissions.html">Group Permissions</a></li>
<li><a href="taxrates.html">Tax Rates</a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>
